:root {
    --color-titulo: #313131;
    --color-parafo: #313131;
    --color-de-caja: #1c1b1f;
    --color-boton: #3869EB;
    --color-rosa: #FF8682;
}

.logo>img {
    width: 50px;
    height: 50px;
}

.logo {
    margin: 10px 25px;
    display: flex;
    align-items: center;
    text-align: center;
}   

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 40px 40px;
}

.hero {
    margin: 40px 40px;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.titulo1>h1 {
    color: var(--color-titulo);
    size: 15px;
}

.titulo1>p {
    color: var(--color-titulo);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.formulario button {
    background-color: var(--color-boton);
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
}

.formulario {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: -15px 0;
}

.formulario input {
    padding: .6rem;
    width: 29.4rem;
    border-radius: .5rem;
    border: 1px solid var(--color-titulo);
    margin-top: -45px;
}

.cuadrito input {
    margin-left: -225px;

}

.pie>h4 {
    color: var(--color-de-caja);

}

.pie>h3 {
    color: var(--color-rosa);
}

.pie {
    display: flex;
    margin-top: 15px;
    margin-left: 130px;
    text-size-adjust: 500px;
    font-size: 15px;
}

.barra img {
    margin-top: -260px;
}

.icono button {
    background-color: #3869EB;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    background-color: transparent;
    border-color: var(--color-boton);
}

.icono img {
    width: 35px;
    height: 35px;
}

.icono {
    display: flex;
    align-content: space-around;
    margin-top: -125px;
    margin-left: 10px;
}


.segundapag {
    margin: 40px 40px;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;

}
.segundapag{
 background-color: #FF8682;
}
.derecha2{
    margin-left: 290px;
}