body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.form-container {
    padding: 40px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me label {
    font-size: 0.9em;
}

.remember-me .forgot-password {
    font-size: 0.9em;
    color: #ff4b5c;
    text-decoration: none;
}

.remember-me .forgot-password:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.social-buttons img {
    width: 30px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 40px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 0 10px 10px 0;
}