body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    max-width: 100%;
    height: auto;
}

.form-container {
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    font-size: 0.9em;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.social-buttons img {
    width: 30px;
}