:root{
    --negro:#252B42;
    --plomo:#737373;
    --blanco:#FFFFFF;
    --verde:#0D5C63;
    --naranja:#FF7B47;
    --verde-oscuro:#0D5C63;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background:url(./imagen.svg/fondon.svg);
    position:absolute;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    height: 100px ;
    padding: 0px 70px 0px 70px ;
    justify-content:space-between;
    align-items: center ;
}
nav h2{
   color: var(--negro);
   margin:0;
}
nav a {
    text-decoration: none ;
    margin: 5px ;
    color: var(--plomo);
    font-weight: 600;
    margin-right: 15px ;
}
.inicio{
    height: 700px ;  
}
.inicio > div:first-child{
    padding: 50px 70px ;
}
.inicio>div:first-child>h1{
    color: var(--negro);
    font-size: 4rem;
    font-weight: 800;
}
.inicio>div:first-child>p{
    color: var(--plomo);
}
.inicio>div:first-child>div{
    width: 80%;
    display: flex;
}
.inicio>div:first-child>button{
    margin: right 25px;
}
.btn{
    border: none;
    border-radius: 35px;
    font-weight: 600;
    padding: 10px 36px;
}
button.btn-one{
    background-color: var(--naranja);
    color: var(--blanco);
    width:120px;
    display: flex;
    align-items:center ;
    justify-content: space-around;
}
button.btn-trow{
    background-color: transparent;
    color:var(--verde) ;
}
.btn-border{
    border: 1px solid var(--verde);
}
.btn-size-2x{
    width:180px !important;
}
header{
    position: relative;
}
.list{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    display: flex;
    justify-content: start;
   align-items: start;
   justify-content: space-evenly
}
.list>div:nth-child(1){
    background-color: var(--blanco);
    border:1px solid var(--blanco);
    flex-direction: column;
    padding: 20px 100px 20px 20px;
}
.list>div:nth-child(2){
    background-color: var(--blanco);
    border:1px solid var(--blanco);
    flex-direction: column;
    padding: 20px 100px 20px 20px;
}.list>div:nth-child(3){
    border:1px solid var(--verde-oscuro);
    background-color: var(--verde-oscuro);
    
    flex-direction: column;
    padding: 20px 100px 20px 20px;
}
.list>div:nth-child(1)>h3{
    color: var(--negro);
}
.list>div:nth-child(1)>p{
    color: var(--plomo);
}
.list>div:nth-child(2)>h3{
    color: var(--negro);
}
.list>div:nth-child(2)>p{
    color: var(--plomo);
}
.list>div:nth-child(3)>h3{
    color: var(--blanco);
}
.list>div:nth-child(3)>p{
    color: var(--blanco);
}
.parrafo{
    text-align: center;
    margin-top: 100px;
}
.parrafo>div:first-child>h1{
    color: var(--negro);
}
.parrafo>.aula>p{
    color: var(--plomo);
}
.iconoss>.lupa>h1{
    color: var(--negro);
}
.iconoss>.lupa>p{
    color: var(--plomo);
}

.iconoss{

   margin-top: 100px;
   display: flex;
   justify-content: space-around;
   width: 100%;
   position: absolute;

}
.lupa{
    background-color: var(--blanco);
    width: 20% ;
    text-align: center;
}